@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
/* Main colors - deep blue and purple */
body {
    margin: 0;
    padding: 0;
    background: hsl(210, 36%, 96%);;
}
/* NAV BAR SECTION */
nav {
    background-color: #333;
    width: 100%;
    box-shadow: 0 .05rem 10px;
}
.nav-container {
    margin: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 4.75rem;
}
 .logo-image {
    max-height: 2.5rem;
 }
.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    gap: 5rem;
    height: 4.75rem;
}
li {
    list-style-type: none;
}
.links a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}
/* INFO SECTION */
.info-container {
    min-width: 20rem;
    font-family: "Open Sans", sans-serif;
    margin: 5rem 18rem;
}
@media (min-width: 70rem) {
    .section-item {
        display: flex;
        gap: 1.5em;
        align-items: center;
        justify-content: center;
    }
}
.section-title {
    font-size: 2rem;
    color: #262626;
    text-transform: uppercase;
    font-weight: bold;
}
.section-text {
    text-align: justify;
    min-width: 20rem;
    font-size: 1.25rem;
    color: #262626;
}
.left-container {
    display: grid;
    min-width: 15rem;
    min-height: 15rem;
}
.left-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}