@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
/* Main colors - deep blue and purple */
body {
    margin: 0;
    padding: 0;
    background: grey;
}
.placeholder-square {
    min-width: 20rem;
    min-height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid rgb(196, 18, 18);
}
/* NAV BAR SECTION */
nav {
    background-color: #333;
    width: 100%;
}
.nav-container {
    margin: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 4.75rem;
}
/* .nav-logo {
    width: 5rem;
    height: 2.5rem;
    border: 3px solid #813939;
} */
 .logo-image {
    max-height: 2.5rem;
 }
.pengu-image {
    /* width: 5rem;
    height: 2.5rem; */
    border-radius: 3rem;
}
.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    gap: 5rem;
    height: 4.75rem;
}
li {
    list-style-type: none;
}
.links a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}
/* INFO SECTION */
.info-container {
    font-family: "Open Sans", sans-serif;
    margin: 5rem 18rem;
}
@media (min-width: 70rem) {
    .section-item {
        display: flex;
        gap: 1em;
        align-items: center;
        justify-content: center;
    }
}
.section-title {
    font-size: 2rem;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}
.section-text {
    text-align: justify;
    min-width: 20rem;
    font-size: 1.25rem;
    color: #e0d9d9;
}
.traits-title {
    /* text-align: ; */
}